<div class="content">
  <h1>チャットルーム</h1>

  <form>
    メッセージ：<input type="text" data-behavior="room_speaker">
  </form>

  <%= render partial: "messages/messages", locals: { messages: @messages } %>

</div>